<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Home page</title>
    <style type="text/css"> 
			@font-face
			{
			font-family: myFirstFont;
			src: url('http://www.w3schools.com/css3/Sansation_Light.ttf');
			}
			
			body
			{
			font-family:myFirstFont;
			}
	</style>
</head>
<body>
	<h1>Home</h1>
	<li>
		<a href="file">File</a>
	</li>
	<li>
		<a href="team">Team</a>
	</li>
	<li>
		<a href="hall">Hall</a>
	</li>
	<li>
		<a href='search'>Search player</a>
	</li>
</body>
</html>