<html lang="en">
<head>
	<script src='sorttable.js'></script>
    <title>File</title>  
</head>
<body>	
	<table border='5' class="sortable" cellpadding="2" cellspacing="1" width="100%" id="mytable">
	<thead>
    <tr>
	<th>Player name</th>
	<th>Sex female</th>
	<th>Birthdate</th>
	<th>Started bowling</th>
	<th>Last team</th>
	<th>Card</th>   	 	
	</tr>
	</thead>
	<tbody>
	
	    <tr>
	    <td>pesho</td>
	    <td>0</td>
	    <td>July 23, 2012, 2:48 p.m.</td>
	    <td>July 23, 2012, 2:48 p.m.</td>
	    <td>tikvenici</td>
	    <td></td>
	    </tr>
	
	    <tr>
	    <td>gosho goshev</td>
	    <td>0</td>
	    <td>July 23, 2012, 6:14 p.m.</td>
	    <td>July 23, 2012, 6:14 p.m.</td>
	    <td>tikvenici</td>
	    <td>1234</td>
	    </tr>
	
	</tbody>
	</table>
	
</body>
</html>